@import "bootstrap";

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: $text-color !important;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $brand-primary;
}
::-moz-selection { 
    color: $light;
    background: $brand-primary;
}

::selection {
    color: $light;
    background: $brand-primary;
}
html {
    font-size: 100%;
}
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.sec-space {
	margin-bottom: 30px;
	padding-bottom: 30px;
}


/* Header */
.navigation {
	position: relative;
}
.header-logo {
	display: inline-block;
}
.vertical-flex {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

section {
	h3 {
		font-size: rem(38);
	}
	p {
		font-size: rem(23);
	}
}

/* Section 1 */

#banner {
	background: url(../img/ban-left.png) 100% 0 no-repeat;
	// background-size: contain;
}
.left-ban {
	margin-top: 8.5rem;
	h2 {
		font-size: rem(58.5);
		text-transform: uppercase;
		font-weight: $font-light;
		margin: 0;
		line-height: 1;
		letter-spacing: 13px;
		color: #4a4444;
		b {
			font-size: rem(74);
			letter-spacing: 2px;
			color: $brand-primary;
			display: block;
			font-weight: $font-bold;
		}
	}
	p {
		font-weight: $font-light;
		color: #454545;
		margin: 23px 0; 
	}
	.btn-dark {
		background-color: #521d2c;
		border-radius: 8px;
		padding: 10px 75px;
		font-size: rem(24);
		font-weight: $font-semibold;
		color: #fff;
		@include transition(all 0.35s ease);
		&:hover {
			background-color: darken(#521d2c, 8%);
		}
	}
}
@media screen and (min-width: $screen-sm) {
	header {
		padding: 70px 0 0;
	}
	#menu-wrapper, .menu-close {
		display: none;
	}
	.header-logo {
		width: 150px;
	}
	#menu--slide-right, .header-logo {
		vertical-align: bottom;
		font-size: 0;
	}
	#menu--slide-right {
		width: calc(100% - 154px);
		display: inline-block;
		text-align: right;
	}
	.menu-items {
		padding: 0;
		margin: 0;
		.menu-item {}
		li {
			display: inline-block;
			margin-left: 5%;
			a {
				display: block;
				color: $light;
				font-size: rem(20);
			}
		}
	}
}

/* Sec 2 pos */

#pos-sec {
	background: url(../img/purchase.png) 100% 100% no-repeat;
}
.pos {
	h2 {
		font-size: rem(47.79);
		color: #3c3c3c;
		text-transform: uppercase;
		margin-bottom: 60px;
		font-weight: $font-bold;
	}
}
.purchase-box {
	figure, figcaption {
		display: inline-block;
		vertical-align: middle;
		font-size: 0;
	}
	figure {
		width: 50%;
		img {
			max-width: 100%;
		}
	}
	figcaption {
		width: 25%;
		max-width: 340px;
		margin-left: 6%;
	}
	h3 {
		color: #212121;
		position: relative;
		text-transform: uppercase;
		margin-bottom: 15px;
		font-weight: $font-bold;
		&:before {
			content: "Purchase";
			color: #212121;
			font-size: rem(87.89);
			opacity: 0.09;
			position: absolute;
			top: -75px;
			text-transform: uppercase;
			left: 30px;
		}
	}
	p {
		color: #6e6e6e;
		margin-top: 0;
	}
}

/* Sec 3 Reorder */
#reorder {
	background: url(../img/reorder-bg.jpg) center no-repeat;
	background-size: cover;
}
.reorder-box {
	position: relative;
	background: url(../img/reorder-man.png) 0 -135px no-repeat;
	// overflow: hidden;
	text-align: right;
	figure, figcaption {
		display: inline-block;
		vertical-align: middle;
		font-size: 0;
	}
	figure {
		width: 50%;
		position: relative;
		z-index: 9;
		img {
			max-width: 100%;
			margin: -60px 0 0;
		}
	}
	figcaption {
		width: 25%;
		max-width: 340px;
		margin: 60px 6% 0 0;
	}
	h3 {
		color: $light;
		position: relative;
		text-transform: uppercase;
		font-weight: $font-bold;
		margin-bottom: 15px;
		&:before {
			content: "Reorder";
			color: #33171e;
			font-size: rem(118);
			opacity: 0.1;
			letter-spacing: 18px;
			position: absolute;
			top: -115px;
			text-transform: uppercase;
			left: 35px;
		}
	}
	p {
		color: #f5f5f5;
		margin-top: 0;
	}
	.reorder-man {
		position: absolute;
		left: 5%;
		bottom: 0;
	}
}

/* promo-crm */
#promo-crm {
	// background: url(../img/reorder-bg.jpg) center no-repeat;
	padding: 10% 0;
}
.crm-box {
	figcaption, figure {
		display: inline-block;
	}
	figure {
		position: relative;
		z-index: 9;
		img {
			max-width: 100%;
			width: 100%;
			display: inline-block;
		}
	}
	.crm-lorem {
		background: transparent url('../img/promo-crm-left.jpg') left top no-repeat;
		background-size: 100%;
		img {
			opacity: 0;
		}
	}
	.crm-lorem, .crm-lorem-im2 {
		width: 50%;
		float: left;
	}
	.crm-lorem {
		padding-right: 5px;
		position: relative;
		span {
			position: absolute;
			top: 20px;
			left: 20px;
			right: 20px;
			font-weight: $font-light;
			color: $light;
			text-transform: uppercase;
			font-size: 30px;
			line-height: 1.2;
			b {
				line-height: 1;
				font-size: 50px;
				font-weight: $font-bolder;
			}
		}
	}
	.crm-lorem-im2 {
		padding-left: 5px;
	}
	figcaption {
		padding: 0 10% 0 3%;
	}
	h3 {
		color: $brand-primary;
		position: relative;
		text-transform: uppercase;
		font-weight: $font-bold;
		margin-bottom: 15px;
	}
	p {
		color: #6e6e6e;
		margin-top: 0;
		padding-right: 20px;
	}
}

/* security */
#security {
	background: url(../img/security-bg.jpg) center no-repeat;
	padding: 7% 0;
	.secure-box {
		figure, figcaption {
			display: inline-block;
			vertical-align: middle;
			font-size: 0;
		}
		figure {
			img {
				max-width: 100%;
				width: 100%;
			}
		}
		figcaption {
		}
		h3 {
			color: $brand-primary;
			position: relative;
			text-transform: uppercase;
			margin: 15px 0;
			font-weight: $font-bold;
		}
		p {
			color: #6e6e6e;
			margin-top: 0;
		}
	}
}
@media screen and (min-width: $screen-sm) {
	#menu--slide-right {}
}

/* Inventory */
#inventory {
	background: url(../img/inventory-bg.jpg) center no-repeat;
	padding: 7% 0;
	.inventory-box {
		background-color: $light;
		position: relative;
		max-width: 900px;
		margin: 0 auto;
		border-radius: 4px;
		height: 500px;
		right: -150px;
		@include box-shadow(0 0 25px -5px rgba(0, 0, 0, 0.5));
		figure {
			width: 610px;
			height: 380px;
			position: absolute;
			left: 0;
		    top: 50%;
		    transform: translate(-50%, -50%);
		} 
		figcaption {
			padding-left: 350px;
		}
		figure {
			img {
				max-width: 100%;
				width: 100%;
				border-radius: 5px;
			}
		}
		figcaption {
		}
		h3 {
			color: $brand-primary;
			position: relative;
			text-transform: uppercase;
			margin: 15px 0;
			font-weight: $font-bold;
		}
		p {
			color: #6e6e6e;
			margin-top: 0;
		}
	}
}
@media screen and (min-width: $screen-sm) {
	#menu--slide-right {}
}

/* Accounting */
#accounting {
	// background: url(../img/accounting-bg.jpg) center no-repeat;
	padding: 7% 0;
	.accounting-box {
		figure, figcaption {
			display: inline-block;
			vertical-align: middle;
			font-size: 0;
		}
		figure {
			img {
				max-width: 100%;
				width: 100%;
			}
		}
		figcaption {
		}
		h3 {
			color: $brand-primary;
			position: relative;
			text-transform: uppercase;
			margin: 15px 0;
			font-weight: $font-bold;
		}
		p {
			color: #6e6e6e;
			margin-top: 0;
		}
	}
}
@media screen and (min-width: $screen-sm) {
	#menu--slide-right {}
}

/* Sales */
#sales {
	background: url(../img/sales-bg.jpg) center no-repeat;
	background-size: cover;
	// padding: 7% 0;
	.sales-box {
	    flex-direction: row-reverse;
		figure {
			margin: -50px 0;
			img {
				@include box-shadow(0 0 60px -7px rgba(0, 0, 0, 0.15));
				border: 12px solid $light;
				border-radius: 6px;
				max-width: 100%;
				width: 100%;
			}
		}
		figcaption {
		}
		h3 {
			color: $light;
			position: relative;
			text-transform: uppercase;
			margin: 15px 0;
			font-weight: $font-bold;
		}
		p {
			color: $light;
			margin-top: 0;
		}
	}
}
@media screen and (min-width: $screen-sm) {
	#menu--slide-right {}
}

/* Business Intelligence */
#buz {
	background: url(../img/security-bg.jpg) center no-repeat;
	background-size: cover;
	padding: 10% 0 9%;
	.buz-box {
	    // flex-direction: row-reverse;
	    position: relative;
		figure {
			img {
				max-width: 100%;
				width: 100%;
			}
		}
		figcaption {
			position: absolute;
			bottom: -110px;
		    right: 140px;
			background-color: $brand-primary;
			padding: 0 25px;
			border-radius: 6px;
		}
		h3 {
			color: $light;
			position: relative;
			text-transform: uppercase;
			margin: 15px 0;
			font-weight: $font-bold;
		}
		p {
			color: $light;
			margin-top: 0;
		}
	}
}
@media screen and (min-width: $screen-sm) {
	#menu--slide-right {}
}