@import "bootstrap";
@import "plugins/slick";
@import "plugins/font-awesome";

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: $text-color !important;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $brand-primary;
}
::-moz-selection { 
    color: $light;
    background: $brand-primary;
}

::selection {
    color: $light;
    background: $brand-primary;
}
html {
    font-size: 100%;
}
.pos-rel {position: relative;}
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}

.sec-space {
	margin-bottom: 30px;
	padding-bottom: 30px;
}
ul {
	padding: 0;
	list-style: none;
}
body {
	overflow-x: hidden;
}

.vertical-flex {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

section {
	h3 {
		font-size: rem(34);
	}
	h4 {
		font-size: rem(36);
		color: #3c3c3c;
	}
	p {
		font-size: rem(20);
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
}
/* Amination Helper */
.os-animation {
    opacity: 0;
}

.os-animation.animated {
    opacity: 1;
}

section {
	h3, h2 {
		font-weight: $font-light;
		text-transform: uppercase;
	}
}

#fade {
	background-color: rgba($dark,0.65);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: none;
	z-index: 500;
}

/* Intro */
@keyframes flash {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.intro {
	background: transparent url('../img/bg.jpg') left top no-repeat;
	background-size: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		// background-color: rgba($dark,0.75);
		background: linear-gradient(30deg, $gray-darker, $brand-primary);
	    opacity: 0.65;;
	}
	.ab-bg {
		opacity: 0;
		visibility: hidden;
	}
	h1 {
		// position: absolute;
		// top: 50%;
		// left: 50%;
		// @include translate(-50%, -50%);
		z-index: 999;
		color: $light;
		font-size: 	rem(50);
		font-weight: $font-light;
	}
	.wrap {
	    position: relative;
	    &:after {
	        content: "";
	        position: absolute;
	        right: -10px;
	        top: 0;
	        bottom: 0;
	        width: 2px;
	        background-color: #fff;
	        animation: flash 1s none infinite alternate;
	    }
	}
}